@import url("font-awesome/css/font-awesome.min.css");
@import url("micons/micons.css");
@import url("fonts.css");

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-weight: normal;
    line-height: 1;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
}

body,
input,
button {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


img,
video {
    max-width: 100%;
    height: auto;
}


div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-font-variant-ligatures: common-ligatures;
    -moz-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
}

em,
i {
    font-style: italic;
    line-height: inherit;
}

strong,
b {
    font-weight: bold;
    line-height: inherit;
}

small {
    font-size: 60%;
    line-height: inherit;
}

ol,
ul {
    list-style: none;
}

li {
    display: block;
}


a {
    text-decoration: none;
    line-height: inherit;
}

a img {
    border: none;
}


fieldset {
    margin: 0;
    padding: 0;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}


.row {
    width: 94%;
    max-width: 1200px;
    margin: 0 auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row .row {
    width: auto;
    max-width: none;
    margin-left: -20px;
    margin-right: -20px;
}


[class*="col-"] {
    float: left;
    padding: 0 20px;
}

[class*="col-"]+[class*="col-"].end {
    float: right;
}


.col-one {
    width: 8.33333%;
}

.col-two,
.col-1-6 {
    width: 16.66667%;
}

.col-three,
.col-1-4 {
    width: 25%;
}

.col-four,
.col-1-3 {
    width: 33.33333%;
}

.col-five {
    width: 41.66667%;
}

.col-six,
.col-1-2 {
    width: 50%;
}

.col-seven {
    width: 58.33333%;
}

.col-eight,
.col-2-3 {
    width: 66.66667%;
}

.col-nine,
.col-3-4 {
    width: 75%;
}

.col-ten,
.col-5-6 {
    width: 83.33333%;
}

.col-eleven {
    width: 91.66667%;
}

.col-twelve,
.col-full {
    width: 100%;
}

.textjoy
{
  text-align: center;
  text-decoration-color: #4a95cc;
  font-size: 20px;

}

@media only screen and (max-width: 1200px) {
    .row .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    [class*="col-"] {
        padding: 0 15px;
    }
    .md-two,
    .md-1-6 {
        width: 16.66667%;
    }
    .md-one {
        width: 8.33333%;
    }
    .md-three,
    .md-1-4 {
        width: 25%;
    }
    .md-four,
    .md-1-3 {
        width: 33.33333%;
    }
    .md-five {
        width: 41.66667%;
    }
    .md-six,
    .md-1-2 {
        width: 50%;
    }
    .md-seven {
        width: 58.33333%;
    }
    .md-eight,
    .md-2-3 {
        width: 66.66667%;
    }
    .md-nine,
    .md-3-4 {
        width: 75%;
    }
    .md-ten,
    .md-5-6 {
        width: 83.33333%;
    }
    .md-eleven {
        width: 91.66667%;
    }
    .md-twelve,
    .md-full {
        width: 100%;
    }
}


@media only screen and (max-width: 800px) {
    .row {
        width: 90%;
    }
    .tab-1-4 {
        width: 25%;
    }
    .tab-1-3 {
        width: 33.33333%;
    }
    .tab-1-2 {
        width: 50%;
    }
    .tab-2-3 {
        width: 66.66667%;
    }
    .tab-3-4 {
        width: 75%;
    }
    .tab-full {
        width: 100%;
    }
}


@media only screen and (max-width: 600px) {
    .row {
        width: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    .row .row {
        margin-left: -10px;
        margin-right: -10px;
    }
    [class*="col-"] {
        padding: 0 10px;
    }
    .mob-1-4 {
        width: 25%;
    }
    .mob-1-3 {
        width: 33.33333%;
    }
    .mob-1-2 {
        width: 50%;
    }
    .mob-2-3 {
        width: 66.66667%;
    }
    .mob-3-4 {
        width: 75%;
    }
    .mob-full {
        width: 100%;
    }
}


@media only screen and (max-width: 400px) {
    .row .row {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    [class*="col-"] {
        width: 100% !important;
        float: none !important;
        clear: both !important;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    [class*="col-"]+[class*="col-"].end {
        float: none;
    }
}

[class*="block-"]:after {
    content: "";
    display: table;
    clear: both;
}

.block-1-6 .col-block {
    width: 16.66667%;
}

.block-1-5 .col-block {
    width: 20%;
}

.block-1-4 .col-block {
    width: 25%;
}

.block-1-3 .col-block {
    width: 33.33333%;
}

.block-1-2 .col-block {
    width: 50%;
}


.block-1-6 .col-block:nth-child(6n+1),
.block-1-5 .col-block:nth-child(5n+1),
.block-1-4 .col-block:nth-child(4n+1),
.block-1-3 .col-block:nth-child(3n+1),
.block-1-2 .col-block:nth-child(2n+1) {
    clear: both;
}


@media only screen and (max-width: 1200px) {
    .block-m-1-6 .col-block {
        width: 16.66667%;
    }
    .block-m-1-5 .col-block {
        width: 20%;
    }
    .block-m-1-4 .col-block {
        width: 25%;
    }
    .block-m-1-3 .col-block {
        width: 33.33333%;
    }
    .block-m-1-2 .col-block {
        width: 50%;
    }
    .block-m-full .col-block {
        width: 100%;
        clear: both;
    }
    [class*="block-m-"] .col-block:nth-child(n) {
        clear: none;
    }
    .block-m-1-6 .col-block:nth-child(6n+1),
    .block-m-1-5 .col-block:nth-child(5n+1),
    .block-m-1-4 .col-block:nth-child(4n+1),
    .block-m-1-3 .col-block:nth-child(3n+1),
    .block-m-1-2 .col-block:nth-child(2n+1) {
        clear: both;
    }
}


@media only screen and (max-width: 800px) {
    .block-tab-1-6 .col-block {
        width: 16.66667%;
    }
    .block-tab-1-5 .col-block {
        width: 20%;
    }
    .block-tab-1-4 .col-block {
        width: 25%;
    }
    .block-tab-1-3 .col-block {
        width: 33.33333%;
    }
    .block-tab-1-2 .col-block {
        width: 50%;
    }
    .block-tab-full .col-block {
        width: 100%;
        clear: both;
    }
    [class*="block-tab-"] .col-block:nth-child(n) {
        clear: none;
    }
    .block-tab-1-6 .col-block:nth-child(6n+1),
    .block-tab-1-6 .col-block:nth-child(5n+1),
    .block-tab-1-4 .col-block:nth-child(4n+1),
    .block-tab-1-3 .col-block:nth-child(3n+1),
    .block-tab-1-2 .col-block:nth-child(2n+1) {
        clear: both;
    }
}


@media only screen and (max-width: 600px) {
    .block-mob-1-6 .col-block {
        width: 16.66667%;
    }
    .block-mob-1-5 .col-block {
        width: 20%;
    }
    .block-mob-1-4 .col-block {
        width: 25%;
    }
    .block-mob-1-3 .col-block {
        width: 33.33333%;
    }
    .block-mob-1-2 .col-block {
        width: 50%;
    }
    .block-mob-full .col-block {
        width: 100%;
        clear: both;
    }
    [class*="block-mob-"] .col-block:nth-child(n) {
        clear: none;
    }
    .block-mob-1-6 .col-block:nth-child(6n+1),
    .block-mob-1-5 .col-block:nth-child(5n+1),
    .block-mob-1-4 .col-block:nth-child(4n+1),
    .block-mob-1-3 .col-block:nth-child(3n+1),
    .block-mob-1-2 .col-block:nth-child(2n+1) {
        clear: both;
    }
}


@media only screen and (max-width: 400px) {
    .stack .col-block {
        width: 100% !important;
        float: none !important;
        clear: both !important;
        margin-left: 0;
        margin-right: 0;
    }
}



.group:after {
    content: "";
    display: table;
    clear: both;
}


/* Misc Helper Styles
 * -------------------------------------- */
.is-hidden {
    display: none;
}

.is-invisible {
    visibility: hidden;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.overflow-hidden {
    overflow: hidden;
}

.remove-bottom {
    margin-bottom: 0;
}

.half-bottom {
    margin-bottom: 1.5rem !important;
}

.add-bottom {
    margin-bottom: 3rem !important;
}

.no-border {
    border: none;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



.glow {
  font-size: 50px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}


.whiteit
{
  color: white;
  font-size: 100px;
}
.meto
{
  color: white;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
button:hover, a:hover {
  opacity: 0.7;
}
.cr2
{
 text-align: center;
}

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1536431311719-398b6704d4cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");

  /* Control the height of the image */
  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}


*{
  font-family: sans-serif;
  list-style: none;
  padding: 0;
}


.redit
{
    color: red;
    font-size: 70px;
}

.size_for
{
    font-size: 50px;
}

/* Style all font awesome icons */
.fab {
    padding: 20px;
    font-size: 30px;
    height: 100px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

.forms
{
    animation: Socials 3s;
}

.emailit
{
    animation: EmailMove 1s;
}

@keyframes Socials
{
    0%
    {
        opacity: 0;
        transform: translateX(100px);
    }
    100%
    {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes EmailMove
{
    0%
    {
        opacity: 0;
        transform: translateX(-100px);
    }
    100%
    {
        opacity: 1;
        transform: translate(0);
    }
}
/*  */

/* .proimg
{
    position: relative;
} */

.proimgstyle
{
    border-radius: 10px;
}

.proimgstyle:hover
{
    filter: blur(3px) brightness(80%);
}

.pic__name
{
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    opacity: 1;
}


/* .caption__text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all .5s;

}

.caption__text:hover
{
    opacity: 1;
} */


/* .container11 {
    position: relative;
    border-radius: 10px;
  }
  
  .image11 {
    border-radius: 10px;
  }
  
  .overlay11 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background-color: lightgray;

  }
  
  .container11:hover .overlay11 {
    opacity: .8;
  }
  
  .icon11 {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .fa-eye {
    color: black;
  }

 

  /* .proimg:hover .overlay11 {
    opacity: .8;
  } 

  .big__picture
  {
      position: relative;
  }

.div__relative
{
    position: relative;
}

  .div__text
  {
      position: absolute;
  } */



/* 
 */

 /* .project_item {
    position: relative;
  }
  
  .project_item:hover > .thumb_title {
    opacity: 1;
    transition: .3s;
  }
  
  .project_item:hover > img {
    opacity: 0;
    transition: .3s;
  }
  
  
  .project_item img {
    display: block;
    margin: 0 auto;
    opacity: 1;
    transition: .3s;
  }
  
  .thumb_title {
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: .3s;
  }
  
  .thumb_title h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 10%);
  }




.img-here:hover
{
    opacity: 0;
    border-radius: 10px;
}

.img-here:hover > .thumb_title h1
{
    opacity: 1;
} */

.colblack
{
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: #000000 !important;
  z-index: 10;
}

.img-here
{
    border-radius: 10px;
    position: relative;
}

.thumb_title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    color: #000;
  }

  .img-here:hover
{
    opacity: .5;
}


.hold_pos
{
    position: relative;
}

.text_pos
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;

    transition: all .3;
}

.text_size
{
    font-size: 70px;
}


.btnup, .btnup:link, .btnup.visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    font-size: 2rem;
    position: relative;
    border: none;
    cursor: pointer; }
  .btnup:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
    .btnup:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btnup:active, .btnup:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .btnup--white {
    background-color: #fff;
    color: #777; }
    .btnup--white::after {
      background-color: #fff; }
  .btnup--purple {
    background-color: #1b4db9;
    color: #fff; }
    .btnup--purple::after {
      background-color: #1b4db9; }
  .btnup::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btnup--animated {
    animation: moveToUp .5s ease-out .75s;
    animation-fill-mode: backwards; }
  
  .btnup-text:link, .btnup-text:visited {
    font-size: 1.6rem;
    font-weight: 700;
    color: #1b4db9;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #1b4db9;
    padding: 3px;
    transform: all .2s; }
  .btnup-text:hover {
    background-color: #1b4db9;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .btnup-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translate(0); }
  

.location__button
{
    text-align: center;
}

.u-margin-top-4
{
    margin-top: 40px;
}

/*  */

#gotoTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(12, 148, 148);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 25%;
}

#gotoTop:hover {
    background-color: #555;
}

.clients__slide-img
{
    min-height: 130px; 
    min-width: 130px;
}

.books__slide-img
{
    min-height: 130px; 
    min-width: 130px;
}

.aboutPicture
{
    border-radius: 50px;
}

@media (max-width: 600px){
    .mailClass{
        font-size: 18px;
    }
}















