*
{
    box-sizing: border-box;
}

.gallery
{
    border: 1px solid #ccc;
}

.gallery img
{
    width: 100%;
    height: auto;
}

.des
{
    padding: 15px;
    text-align: center;
}

.responsive
{
    padding:  0 6px;
    float: left;
    width: 25%;
    
}

@media only screen and (max-width: 700px)
{
    .responsive
    {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px)
{
    .responsive
    {
        width: 50%;
    }
}

    .bgimg_Books {
  background-color: wheat;
              }
