.bt
{
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    text-align: center;
    &:hover
    {
        background: yellow;
        color: black;
    }
}

.bt-d
{
    @extend .bt;
    background: black;
    color: white;
}

.bt-l
{
    @extend .bt;
    background: white;
    color: black;
}